<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>326213488567-kua8ielavq02kvugt0at2cl1j9in9sl1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.326213488567-kua8ielavq02kvugt0at2cl1j9in9sl1</string>
	<key>API_KEY</key>
	<string>AIzaSyDv3l4GheEEUhBVJkbrjVsuet3HvisDBzc</string>
	<key>GCM_SENDER_ID</key>
	<string>326213488567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.yamadou.InstagramFirebase</string>
	<key>PROJECT_ID</key>
	<string>instagramfirebase-7587b</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirebase-7587b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326213488567:ios:825ed1dcfb666e70</string>
	<key>DATABASE_URL</key>
	<string>https://instagramfirebase-7587b.firebaseio.com</string>
</dict>
</plist>